.details__container {
  align-items: flex-start;
  align-content: space-around;
  display: flex;
  grid-template-columns: 30% 60%;
  justify-content: space-around;
  justify-items: start;
  padding: 3em;
}

.details__episodes-container {
  margin-left: 50px;
  max-width: 60%;
}

.details__grid-container {
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 34%);
  margin: 20px auto;
  text-align: right;
}

.details__grid {
  border-bottom: 1px solid #ccc;
  display: grid;
  font-size: 14px;
  grid-template-columns: repeat(3, 1fr);
  line-height: 1.5em;
}

.details__grid_header {
  color: rgb(3, 3, 34);
}

.details__grid_color {
  color: rgb(7, 7, 102);
}

.details__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: left;
  padding: 1rem 1rem;
}

.details__date {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: center;
  padding: 1rem 1rem;
}

.details__duration {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  padding: 1rem 1rem;
  text-align: center;
}

.details__episodes {
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  display: flex;
  height: 2.5em;
  justify-content: flex-start;
  margin: 20px auto;
  padding-left: 15px;
  text-align: center;
}
.details__bold {
  font-weight: bold;
}

.details__grid:hover {
  background-color: #f2f2f2;
}

.details__no-hover {
  background-color: inherit !important;
}
